body {
    background-color: red;
}

@media only screen and (max-width:600px){
    body {
        background-color: aqua;
    }
        
}
@media only screen and (min-width:768px){
    body {
        background-color: yellow;
    }
        
}
@media only screen and (min-width:992px){
    body {
        background-color: blue;
    }
        
}
@media only screen and (min-width: 1200px){
    body {
        background-color: green;
    }
        
}
.col {
    float: left;
    width: 25%;
    padding: 10px;
    color: white;
}
.colContainer::after {
    content: "";
    display: table;
    clear: both;
}
@media only screen and (max-width: 900px){
    .col{
        width: 50%;
    }
}
@media only screen and (max-width: 600px){
    .col{
        width: 100%;
    }
}
.heading {
    padding: 10px 15px 20px 15px;
    margin: 5px 10px;
    border: 2px solid black;
    border-radius: 15px;
}
.logo {
    border-radius: 50%;
}
.box {
    width: 300px;
    height: 100px;
    margin: 20px;
    padding: 15px;
    border: 5px solid green;
}
.box1 {
    width: 300px;
    height: 100px;
    margin: 20px;
    padding: 15px;
    border: 5px solid green;
    box-sizing: border-box;
}
p {
    padding: 1em 2em;
    margin: 5px 10px;
    border: 5px solid blue;
    width: 200px;
}
/*a {
    padding: 1em 2em;
    margin: 5px 10px;
    border: 5px solid red;
    width: 50px;
    background-color: lime;
    font-size: 1em;
    display: block;
}*/
.container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
}
.item {
    padding: 10px;
    margin: 5px;
    background-color: lightcoral;
    border: 1 px solid green;
    order: 2;
    /*flex-grow: 7;*/
    /*flex-basis: 200px;*/
    flex: 8 1 200px;
    align-self: unset;
}
/*.par {
    text-align: center;
}*/

.container1 {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    grid-template-rows: 200px 200px;
    gap: 10px;
    row-gap: 20px;
    column-gap: 30px;
    grid-template-areas: 
        "header header header"
        "sidebar content content"
        "footer footer footer";
    grid-auto-rows: 100px;
}
.item1 {
    padding: 10px;
    background-color: lightcoral;
    border: 1 px solid green;
    grid-area: header;
}
.item2 {
    padding: 10px;
    background-color: lightcoral;
    border: 1 px solid green;
    grid-area: sidebar;
}
.item3 {
    padding: 10px;
    background-color: lightcoral;
    border: 1 px solid green;
    grid-area: content;
}
.item4 {
    padding: 10px;
    background-color: lightcoral;
    border: 1 px solid green;
    grid-area: footer;
}

.outer-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 10px;
}

.inner-container {
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 5px;
}
.itemx{
    padding: 20px;
    background-color: aqua;
    border: 2px solid black;
}