* {
    margin: 0;
    padding: 0;
}
.container1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto 1fr auto;
    row-gap: 20px;
    grid-template-areas: 
        "header header header"
        "main main main"
        "footer footer footer";
    height: 100vh;
}
.header {
    padding: 10px;
    background-color: lightcoral;
    grid-area: header;
    text-align: center;
}
.main {
    padding: 10px;
    grid-area: main;
}
.footer {
    padding: 5px;
    background-color: lightgrey;
    grid-area: footer;
    text-align: center;
}
table, th, td {
    border: 1px solid black;
}