body {
    display: grid;
    justify-items: center;
    margin: 0;
    padding: 0;

}

.card{
    justify-items: center;
    width: 500px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 1em;
    background-color: aqua;
}
.pfp img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
}
.bio, .name, .profile-link{
    text-align: center;
}
p{
    font-size: 20px;
    font-family: cursive;
}
h3{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: blue;
}
