/* universal selector*/

* {
    padding: 0;
    margin: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: rgb(230, 235, 234);
}

/* element selector */
h1 {
    color: rgb(0, 3, 5);
}
p {
    color: rgb(211, 126, 15);
}
div {
    border: 7px solid rgb(6, 234, 10);
    width: 300px;
    text-align: centre;
}

/* class selector */
.heading {
    text-decoration: dashed underline;
}
.style-div {
    border: 2px inset rgb(180, 0, 168);
    width: 500px;
    text-align: left;
}

/* id selector */
#tutorial {
    color: red;
    font-size: 60px;
}
#tutorials {
    color: rgb(255, 192, 203);
    font-size: 70px;
    font-weight: bold;
}
/*attribute selectors*/
a[href="https://zinduaschool.com"]{
    color: rgb(173, 252, 1);
}
a[target]{
    color: black;
}
a[target=_self]{
    color: blue;
}
a[target=_blank]{
    color: maroon;
}
/* group selectors*/
h1, h2{
    background-color: blue;
}

/* pseudo-class selectors*/
a:hover{
    cursor: pointer;
    background-color: turquoise;
}
button{
    background-color: red;
}
button:active{
    background-color: yellow;
    cursor: pointer;
}
input{
    border: 10px solid black;
}
input:hover{
    border-color: red;
    cursor: pointer;
}

p::before {
    content: "Note:Remember";
    font-weight: bolder; color: blue;
}
p::after {
    content: "[read more]";
    font-weight: lighter; color: red;
}

/* descendant selector*/
div p {
    color:purple
}

/* child selector*/
div > p {
    color: crimson;
}

/* adjacent sibling selector*/
h1 + p {
    margin-top: 30px;
    color: blueviolet;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
/* general sibling selector*/
h1 ~ p {
    color: goldenrod
}

h1 ~ a {
    color: red;
}

/*nested selector*/
nav{
    & ul{

        list-style: none;
        & li {
            display: inline-block;
            & a {
                text-decoration: none;
                color: blue;
                &:hover {
                    cursor: pointer;
                    color: red;
                }
            }
        }
    }
}